
<div class="signup">

<div class="content">
<div class="signupLogo">
    <img src="./images/logoMedium.png" alt="Logo">
</div>



<div id="form">
 <form action="/signUp" method="post">

    

     <div class="row">
  <div class="col">
    <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username">
    </br>
    </div>
  </div>
  <div class="col">
    <input type="email" class="form-control" name="email" placeholder="Email" aria-label="Email">
    </br>
  </div>
  <div class="col">
    <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password">
    </br>
  </div>
</div>
</br>
   
   
   
   
   
   
    <button type="Signup" class="btn btn-outline-secondary">Sign Up</button>
    {{errorMessage}}
</form>




</div>

</div>


</div>