
<div class="signup">

<div class="content">
<div class="signupLogo">
    <img src="./images/logoMedium.png" alt="Logo">
</div>



<div id="form">
 <form action="/signup" method="post">

    <label for="">Username:</label> 
    <input type="text" name="username" placeholder="Username">
    <br/>
    <label for="">Email:</label> 
    <input type="email" name="email" placeholder="E-Mail">
     <br/>
    <label for="">Password:</label> 
    <input type="password" name="password" placeholder="**********">
     <br/>
    <button type="Signup" class="btn btn-outline-dark">Sign Up</button>
    {{errorMessage}}
</form>
</div>

</div>


</div>