<h2>Add a new Book.</h2>

<form action="/books/create" method="post">
<label> Name:
    <input type="text" name="title" />
</label>
<label> Author:
    <input type="text" name="Author" />
</label>

<button type="submit"> Add a Book</button>
</form>
<br>
<hr>
<a href="/">Back</a>