
<nav>
    <ul>
        <li>Home</li>
        <li>Login</li>
        <li>Sign Up</li>
    </ul>
</nav>

 <div>
     <section>
         <h1>{{work.title}}</h1>
		 <h2>{{work.author_names}}</h2>
		 <p>{{genre}}</p>
      </section>
 </div>