
<<<<<<< HEAD
<h1>{{ReadSquad}} </h1>
<p>Welcome to ReadSquad!</p>
=======
{{!-- <h1>{{ReadSquad}} </h1> --}}


{{!-- <form action="/signUp" method="post"> --}}


<!DOCTYPE html>
<html lang="en">


   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>ReadSquad Application</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>


<div class="container">

   
<div class="index">
>>>>>>> 64777cb (some stylesheet)

<div class="indexLogo">
<img src="./images/logo.png" alt="Image teste">
</div>


<div class="indexForm"></div>
<form action="/signin" method="post">

    <label for="">Username:</label> <input type="text" name="username">
    <br/>
    <label for="">Password:</label> <input type="password" name="password">
     <br/>
     <button type="Login" class="btn btn-outline-success">Log In</button>
    {{!-- <button type="Login">Log In</button> --}}
    <button type="SignUp" class="btn btn-outline-dark">Sign Up</button>
    {{!-- <button type="SignUp">Sign Up</button> --}}
</form>

</div>

</div>


</div> 



<script src="/js/script.js"></script>


