<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" alt="ReadSquare Logo" href="./"><img src="./images/logo-s.png"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if loggedIn}}
        

        {{/if}}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./userProfile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./books">Books</a>
        </li>
        <li class="nav-item">
          {{!-- <a class="nav-link active">Logout</a> --}}
          <form action="/logout" method="POST">
          <button type="button" class="btn btn-light">Logout</button>
          </form>
        </li>
        
      </ul>
      {{!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search for Books" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}
    </div>
  </div>
</nav> 
<div>

{{#if user}}
<h2>Welcome, {{ user.username}}!</h2>
<p>Hi Reader! Welcome to ReadSquad, this is your profile page!</p>
<button>
    <a href="/userProfile">Reload the page</a>
</button>
{{else}}
<p> Still no logged in user, sorry!</p>
{{/if}}
