body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.bookSection {
  border: 1px, black;
  flex-grow: 1;
  flex-shrink: 1;
  
}

.home {
  align-items: center;
}

h1 {
  align-items: center;
}



